body {
  background-color: #330000;
  background-image: url("./images/background_medium.webp");
  background-attachment: fixed;
  background-size: cover;
}

.hover-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

